.hamburger {
    color: #facccc !important;
    font-size: 29px !important;
    display: none !important;
    cursor: pointer !important;
    transition: transform 0.3s ease-in-out !important;
}
@media screen and (max-width: 600px) {
    header{
        padding: 0px 20px 0px 20px !important;
    }
    .logo a img {
        max-height: 35px !important; /* Adjust if needed */
    }
    .hamburger {
        display: block !important;
    }
    .container ul {
        position: fixed !important;
        left: -100% !important;
        top: 65px !important;
        gap: 0 !important;
        flex-direction: column !important;
        background-color: #01462b !important;
        width: 100% !important;
        height: 280px !important;
        transition: all 0.3s ease !important;
    }
    .container ul li {
        text-align: center !important;
        margin-left: 0 !important;
        margin-top: 30px !important;
    }
    .container ul.active {
        left: 0 !important;
    }
    .rotate {
        transform: rotate(90deg) !important;
    }
}